---
layout: layout
title: page-conference
ttl: "It's only Illustration (but I like it!)"
descr: "Participants will be guided through the design of illustrations for magazines"
---

<div class="section" id="workshops">
	<div class="wrapper">
		<h2>Workshops</h2>
		<h3>June 1st & 2nd, 2016</h3>
		<div id="workshops-abstract">
            {% include workshop/workshop-poroli.html %}
		</div>
	</div>
</div>
{% if site.tickets %}
  {% include section-tickets.html %}
{% endif %}
{% include section-sponsors.html %}
{% include section-newsletter.html %}
{% include section-contact.html %}