<a id="workshop-barcellona"></a>
<div class="session" id="workshop-barcellona">
    <div class="speaker">
		<div class="image"><img src="img/barcellona.png"></div>
		<div class="info">
			<div class="name">Luca Barcellona</div>
			<!--div class="twitter"><a href="http://www.twitter.com/standardistas/">@standardistas</a></div-->
			<div class="bio">
				<p><a href="http://www.lucabarcellona.com">Luca Barcellona</a> has his own studio in Milan, where he works as a freelance graphic designer and calligrapher. Letters are the main ingredient of his creations. He teaches calligraphy with the Associazione Calligrafica Italiana and holds workshops and lectures in several cities. </p>
				<p>The means of his work is to make the manual skill of an ancient art as writing and the languages and instruments of the digital era coexist. </p>
				<p>Among the brands that requested his lettering we can number Carhartt, Nike, Mondadori, Zoo York, Dolce & Gabbana, Sony BMG, Seat, Volvo, Universal, Eni, Mont Blanc, Wall Street Institute. </p>
				<p>He recently published his first monographic book “Take Your Pleasure Seriously” by Lazy Dog press.</p> 
				<p>His study into lettering led him to experience from graffiti to classic calligraphy, up to big wallpainting, typography and letterpress printing.</p>	
			</div>
			<div class="meta first">
				<div class="duration">Duration: Full day</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br>
					Complesso dei Salesiani<br>
					Via San Giovanni Bosco n. 1<br>
					Faenza (RA)<br>
					(<a class="gmap" href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Thursday 5th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.
				</div>
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">An introduction to the world of Calligraphy</div>
		<div class="abstract">
			<p class="intro">An introduction to the exterminated world of handwriting and his tools through the works of Luca Barcellona, who made of contemporary calligraphy his personal mission and lifestyle.</p>
			<p>Street signs, packaging, wine labels, logotypes, tattoos and advertising: calligraphy today is still is everywhere, but how we can recognize a well done lettering?</p>
<p>Calligraphy is helpful for every graphic designer and type designer, and is something that everyone should know for his visual culture.</p>
<p>The Humanistic script is the basis for many typefaces we use nowadays, as the letters written with the broad edge pen, reported in auge by Johnston in the early 19th century with his Foundational.</p>
<p>Roman Capitals are our model of beauty in letterforms, in two thousand years they survived to all fashion styles, and is where the serifs came from.</p>
<p>We will try to rewrite these letterforms and compose a small text (working on interlinear space and kerning). </p>
<p>A "Drawing Kit" will be provided. The kit will include a Parallel stroke pen, ink refill, drawing sheets, pencils, thin marker, glue.</p>

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/workshops.html" addthis:title="Workshops at Kerning Conference 2014" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
