<a id="workshop-franchi"></a>
<div class="session" id="workshop-franchi">
    <div class="speaker">
		<div class="image">
			<img src="/img/francesco.png"><br/>
			<img src="/img/nicholas.png" style="padding-top: 200px">
		</div>
		<div class="info">
			<div class="name">Francesco Franchi</div>
			<div class="twitter"><a href="http://www.twitter.com/ffranchi/">@ffranchi</a></div>
			<div class="bio"><p>Francesco Franchi is art director at IL, the magazine of Il Sole 24 ORE. Before that, he worked for five years as a senior designer at Leftloft, a Milan based design studio, dealing with communication design, editorial projects and infographics. Professional journalist since 2010. He's contract professor at IUAV University of Venice and IED in Milan, Turin, and Barcelona and visiting professor at Domus Academy, and Polytechnic University of Milan. He’s member of The Society of Publication Designer and professional member of AIAP, the Italian Council of Communication Design. In 2013 he published Designing News, Changing the world of editorial design and information graphics. During his career he has won many awards and his work has been published and exhibited in several countries, recently at the V&A Museum in London.</p></div>

			<div class="name">Nicholas Felton</div>
			<div class="twitter"><a href="http://www.twitter.com/feltron/">@feltron</a></div>
			<div class="bio"><p>Nicholas Felton is a designer, entrepreneur and artist concerned with translating quotidian data into meaningful objects and experiences. He is the author of numerous personal Annual Reports that condense the events of a year into a tapestry of maps, graphs and statistics. The insights and techniques developed from his annual reports have informed his design of Facebook’s Timeline and the creation of the Reporter and Daytum applications. He has been profiled by The Wall Street Journal and The New York Times and his work is a part of the permanent collection at MoMA.</p></div>

			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br>
					Palazzo Naldi / Faventia Sales (ground floor)<br>
					room 4<br/>
					Via San Giovanni Bosco n. 1<br>
					Faenza (RA)<br>
					(<a class="gmap" href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Wednesday 3rd,Thursday 4th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.
				</div>
				<div class="buy">
					<a href="#tickets">Get your ticket <b>€ 299</b></a>
				</div>
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title"><a href="/ws-infographic.html">The New Aesthetic of Data Narrative</a></div>
		<div><img src="/img/workshop-franchi-felton.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="The New Aesthetic of Data Narrative" data-original-title="" title="The New Aesthetic of Data Narrative"></div>
		<div class="abstract">
			<p class="intro">The workshop aims to translate a complex issue into an effective and recognizable visual form, producing new knowledge and revealing new meanings.</p>

            <p>Participants will explore the communication and narrative potential of information visualization.</p>
            <p>Building from a foundation of core design concepts like typography, color, and composition, the workshop will proceed through graphing, mapping and labeling approaches towards explorations with Processing to create custom visualization applications.</p>

			{% if page.short %}
				<p><a href="/ws-infographic.html">Read more</a></p>
			{% else  %}

				<p><iframe src="//player.vimeo.com/video/35951116?color=e34e35&amp;title=0&amp;byline=0&amp;portrait=0" width="520" height="293" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
				<p>Participants should gain an understanding of the tools and techniques of data visualization, they will be divided into small groups and under Francesco and Nicholas’ guidance, they will produce an infographic for a given topic.</p>
				<p><iframe src="//player.vimeo.com/video/70340564?color=e34e35&amp;title=0&amp;byline=0&amp;portrait=0" width="520" height="293" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
				<h3>Needed stuff</h3>
				<p><strong>Editors</strong>
					<ul>
						<li>Laptop with spreadsheet application (Microsoft Excel or Apple Numbers)</li>
						<li>Notebook/Paper, Pen</li>
					</ul>
				</p>
				<p><strong>Designers</strong>
					<ul>
						<li>Laptop with Adobe InDesign and Illustrator (download a 30-day trial if you don’t own it)</li>
						<li>Processing (download from Processing.org)</li>
						<li>Notebook/Paper, Pen</li>
					</ul>
				</p>

			{% endif %}
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/workshops.html" addthis:title="Workshops at Kerning Conference 2015" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
