<a id="workshop-letterpress"></a>
<div class="session" id="workshop-standardistas">
    <div class="speaker">
		<div class="image"><img src="img/stamperia.png"></div>
		<div class="info">
			<div class="name">La Vecchia Stamperia</div>
			<div class="bio">
				<p>Damiano Bandini loves letterpress, this is the reason why, at the beginning of the 21th Century he still runs <a href="https://www.facebook.com/lavecchiastamperiafaenza">an old historical printing workshop</a> in the town centre of Faenza, bringing on an old passion and ability that pass from father to son.
He has got one of the largest collection in use, of very rare metal block-prints and unique artistic wood ones.</p>
<p><a href="http://www.fateevart.com/2/">Innokentiy Fateev</a> and <a href="http://www.enricoversari.com">Enrico Versari</a> are two polyhedric artists, based in Faenza, with a big passion for each kind of visual art: painting, xylography, sculpture. Many times they work together creating good vibes, mixing, in a sort of cross-over alchemy, the Italian culture to the russian one.</p>
			</div>
			<div class="meta first">
				<div class="duration">Duration: Full day</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br>
					La Vecchia Stamperia<br>
					Via Giulio Castellani 25<br>
					Faenza (RA)<br>
					(<a class="gmap" href="https://www.google.com/maps/place/La+Vecchia+Stamperia+di+Damiano+Bandini/@44.284726,11.87984,16z/">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Thursday 5th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.
				</div>
				<div class="buy">
					<a href="#tickets">Get your ticket <b>€129</b></a>
				</div>
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">An introduction to typography</div>
		<div class="abstract">

			<div><img src="/img/workshop-stamperia.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="ci andrebbe una foto" data-original-title="" title=""></div>
			<p class="intro">The basics of typography and of the printing reproduction for press and artistic works.</p>


			{% if page.short %}
				<p><a href="/ws-letterpress.html">Read more</a></p>
			{% else  %}

				<p>A journey into the letterpress typography of the past Century. You will learn how to properly compose with old lead-types and original woodcut block-prints.</p>
				<p>You will use original types made by famous Italian cover-magazine-illustrators and artists, from Art Nouveau to Futurism period, such as Antonio Moroni or Francesco Nonni.</p>
				<p>This is a rare opportunity to see Damiano Bandini using an old, huge, Nebiolo printing press, and smell the inky air of the same poky workshop, La Vecchia Stamperia, where that machine has been operating since 1920, providing the first Town newspaper.</p>
				<p>Moreover, if you are a decent drawer, you will be able to reproduce your own creations (letters, clip-arts, others...) using to the poorest and quicker art form of duplication: the cardboard-cut!</p>
				<p>Innokentiy Fateev and Enrico Versari will follow you step by step, developing your ideas, from drawings to the carved cardboard as block-prints, combining them in a unique artwork reproduced in series thanks to a handy printing press.</p>
				<p>Materials: cutter, paper, cardboard and inks will be provided by the KERNING Crew.</p>
				<iframe width="400" height="225" src="//www.youtube.com/embed/eCoJVCBo1Vc" frameborder="0" allowfullscreen></iframe>

			{% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/workshops.html" addthis:title="Workshops at Kerning Conference 2015" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
