<a id="workshop-vitaly" xmlns="http://www.w3.org/1999/html"></a>
<div class="session" id="workshop-vitaly">
    <div class="speaker">
		<div class="image"><img src="img/barbara.png"></div>
		<div class="info">
			<div class="name">Barbara Calzolari</div>
			<!--div class="twitter"><a href="http://www.twitter.com/smashingmag/">@smashingmag</a></div-->
			<div class="bio">
				<p><a href="http://www.barbaracalzolari.com">Barbara Calzolari</a> worked in the fashion sector with large firms in the garment and licensing trade creating projects and developing in Far East for more than 15 years designing collections and developing products for Pirelli, Ferrari, and Ferrero.

					{% if page.short %}
							<p><a href="/ws-spencerian.html">Read more</a></p>
					{% else  %}

					Meanwhile she cultivated and pursued her greatest passion: calligraphy with many association in Italy and in the United States studying the use of the flexible nib for Spencerian script with Michael Sull. She <a href="https://www.flickr.com/photos/8764890@N04/">applied her skills</a> to the creation of masterpieces such as ”Deus Caritas Est”, a complete work of art in book form. She engrossed as a souvenir of the Italy of beauty the national anthems that the prime minister of Italy wished to present to the heads of state assembled at the G8 Summit in 2009.
					Nowadays she is the hand who writes the fair copies of Pope's encyclicals.<br>
					She has written three manuscript prestigious books on Catherine de’ Medici epistolary correspondence now held in the Washington DC Library  and in the Vittoriano Museum in Rome. She has Calligraphy Leicester in the Calligraphy museum of Moscow were she taught Spencerian. She attends International Calligraphy conventions, Iampeth, Georgia Emory University College of Arts Atlanta, Calligraphy Centre in North Carolina, Friends of the Alphabet and Pennablers in Atlanta, ECV school of visual communication in Bordeaux,  Skilled Hands Association in in Berlin, Society of Scribes New York  and "Legacy Calligraphy Convention".

					{% endif %}

				</p>
			</div>
			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br>
					Palazzo Naldi / Fondazione (1st Floor)<br>
					Via San Giovanni Bosco n. 1<br>
					Faenza (RA)<br>
					(<a class="gmap" href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Wednesday 3rd,Thursday 4th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.
				</div>
				<div class="buy">
					<a href="#tickets">Get your ticket <b>€ 259.00</b></a>
				</div>

				{% if page.short %}
				{% else  %}
				<div class="sponsor-ws">
					<b>Sponsored by</b><br/>
					<a href="http://www.cwr.it/"><img src="/img/sponsor_daler.png" title="Daler"></a><br/>
					<a href="http://www.johnnealbooks.com/"><img src="/img/sponsor_neal.gif" title="Neal"></a><br/>
					<a href="http://www.pentel.it/home/"><img src="/img/sponsor_pentel.jpg" title="Pentel"></a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title"><a href="/ws-spencerian.html">Spencerian: The Golden Age of Penmanship</a></div>
		<div class="abstract">

			<p class="intro"><iframe src="//player.vimeo.com/video/111884734?byline=0&amp;portrait=0&amp;title=0&amp;color=e34e35&amp;loop=1" width="520" height="292" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br>
				There was a special time in U.S.A. when penmen were able to produce the best fine lines and the most dramatic shades ever done by human hands, the so called Golden Age of Penmanship.
			</p>

			{% if page.short %}
				<p><a href="/ws-spencerian.html">Read more</a></p>
			{% else  %}

				<p>I want to bring you deeply inside these techniques in order to develop your abilities and knowledge methodically.</p>

				<p>We will start warming up hand-movements with pencil and we will see how a kind of rhythm and the repetition of movements can improve our skills making lines that turn into letters, that turn into words till into lines of text, closing into beautiful calligraphy compositions thanks to the contrasts, the curvatures, the movements of the lines themselves.</p>

				<p>
					We will concentrate on:
					<ul>
						<li>Our fingers, hands and all the movements of the arms;</li>
						<li>Iron gall ink;</li>
						<li>Manga japanese nibs;</li>
						<li>Oblique pen holders;</li>
						<li>Very fine papers;</li>
						<li>Blotted paper;</li>
						<li>Old tools that sounds so contemporary to me.</li>
					</ul>
				</p>

				<p>We will build a texture of rules that we will use as a starting point for our future escape (that with all these ability is much safe and consistent)..</p>

			{% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/workshops.html" addthis:title="Workshops at Kerning Conference 2015" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
