<div class="section" id="schedule">
		<div class="wrapper">
			<h2>Schedule</h2>
			<h3>June 5, 2015</h3>
			<div id="schedule-abstract">
				<div class="schedule-session">
					<div class="hour">8.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Registration</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session">
					<div class="hour">9.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Welcome / Opening&nbsp;Remarks</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="one">
					<div class="hour">9.40</div>
                    <a href="speakers.html#L_Worthington">
						<div class="image"><img src="/img/laura.png" alt="Laura Worthington"></div>
						<div class="topic">
							<div class="title">Recapturing the Essence of Hand-drawn Lettering Through Typeface Design</div>
							<div class="name">Laura Worthington</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="two">
					<div class="hour">10.30</div>
                    <a href="speakers.html#frerejones">
						<div class="image"><img src="/img/tobias.png" alt="Tobias Frere-Jones"></div>
						<div class="topic">
							<div class="title">In Letters We Trust</div>
							<div class="name">Tobias Frere-Jones</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">11.15</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee&nbsp;Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="three">
					<div class="hour">11.35</div>
                    <a href="speakers.html#goranfactory">
						<div class="image"><img src="/img/goran.png" alt="Marco Goran Romano"></div>
						<div class="topic">
							<div class="title">A different way to tell stories</div>
                        	<div class="name">Marco Goran Romano</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="four">
					<div class="hour">12.25</div>
                    <a href="speakers.html#smashingmag">
						<div class="image"><img src="/img/vitaly.png" alt="Vitaly Friedman"></div>
						<div class="topic">
							<div class="title">Improving Web Fonts Performance</div>
							<div class="name">Vitaly Friedman</div>
						</div>
					</a>
				</div>
				<div class="schedule-session">
					<div class="hour">13.10</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Lunch</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="five">
					<div class="hour">14.40</div>
                    <a href="speakers.html#kupfers">
						<div class="image"><img src="/img/indra.png" alt="Indra Kupferschmid"></div>
						<div class="topic">
							<div class="title">Fonts, fonts, fonts</div>
                        	<div class="name">Indra Kupferschmid</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="six">
					<div class="hour">15.30</div>
                    <a href="speakers.html#reichenstein">
						<div class="image"><img src="/img/oliver.png" alt="Oliver Reichenstein"></div>
						<div class="topic">
							<div class="title">Architecting Information</div>
							<div class="name">Oliver Reichenstein</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">16.15</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="seven">
					<div class="hour">16.35</div>
                    <a href="speakers.html#feltron">
						<div class="image"><img src="/img/nicholas.png" alt="Nicholas Felton"></div>
						<div class="topic">
							<div class="title">Too Big to Fail</div>
		                    <div class="name">Nicholas Felton</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="eight">
					<div class="hour">17.25</div>
                    <a href="speakers.html#bruno_maag">
						<div class="image"><img src="/img/bruno.png"></div>
						<div class="topic">
							<div class="title">What lies beneath? (Closing keynote)</div>
                        	<div class="name">Bruno Maag</div>
						</div>
					</a>
			</div>
			</div>
			<div class="schedule-session" id="">
				<div class="hour">20.00</div>
				<div class="image">&nbsp;</div>
				<div class="topic">
					<div class="title">Party! @ <a href="https://goo.gl/maps/aC2o1">Clan Destino - via Baccarini 21</a></div>
					<div class="name">sponsored by <a href="http://typekit.com/">TypeKit</a></div>
				</div>
			</div>
		</div>
	</div>