<div class="section" id="speakers">
		<div class="wrapper">
			<h2>Speakers</h2>

			<ul id="speakers-list">
                {% for speaker in site.data.speakers %}

                <li>
					<a href="speakers.html#{{ speaker.twitter }}">
					<img src="{{ speaker.image }}">
					<span>{{ speaker.name }}</span>
					</a>
				</li>

                {% endfor %}


				{% if false %}
				<li>
					<img src="/img/speaker-plc.png">
					<span>To be<br>announced<br></span>
				</li>
                {% endif %}
				
                
				<li>
					<img src="/img/simone.png">
					<span>Simone Wolf (as moderator)</span>
				</li>
			</ul>
			{% if false %}
				<div class="more">&hellip;more to be announced soon!</div>
			{% endif %}
		</div>
	</div>
