<div class="section" id="speakers">
		<div class="wrapper">
			<h2>Speakers</h2>
			
			<ul id="speakers-list">
				<li>

					<img src="/img/vincent.png">
					<span>Vincent<br>Connare</span>

				</li>
				<li>

					<img src="/img/jessica.png">
					<span>Jessica<br>Hische<br></span>

				</li>
				<li>

					<img src="/img/elliot.png">
					<span>Elliot Jay<br>Stocks<br></span>

				</li>
				<!--li>
					
					<img src="/img/simone.png">
					<span>Simone<br>Wolf<br></span>
				
				</li>
				<li>
					<img src="/img/speaker-plc.png">
					<span>yet to be<br>unveiled</span>
				</li>
				<li>
					<img src="/img/speaker-plc.png">
					<span>yet to be<br>unveiled</span>
				</li>
				<li>
					<img src="/img/speaker-plc.png">
					<span>yet to be<br>unveiled</span>
				</li>
				<li>
					<img src="/img/speaker-plc.png">
					<span>yet to be<br>unveiled</span>
				</li>
				<li>
					<img src="/img/speaker-plc.png">
					<span>yet to be<br>unveiled</span>
				</li-->


				
				
				
			
			</ul>
			
			<div class="more">&hellip;more to be announced soon!</div>
		</div>
	</div>