<div class="section" id="sp"><a id="sponsor"></a>
		<div class="wrapper">
			<h2>Sponsors</h2>

			<h3 class="greatprimer">Great Primer</h3>
			<div class="s-block great">
				<a href="http://www.pressup.it"><img src="/img/s-pressup.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="Press UP" alt="Press UP"></a>
                <a href="http://typekit.com"><img src="/img/s-adobe-typekit.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="Adobe Typekit - Every font you need, everywhere you need it." data-original-title="" title="Adobe Typekit - Every font you need, everywhere you need it." alt="Adobe Typekit - Every font you need, everywhere you need it."></a>
			</div>

			<h3 class="pica">Pica</h3>
			<div class="s-block pica">
				<a href="http://www.myfonts.com/topwebfonts/?utm_source=KerningConference&utm_medium=newuser&utm_campaign=20141217&reftag=KerningConference-general-20141217"><img src="/img/s-myfonts.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="MyFonts!" alt="MyFonts"></a>
                <a href="http://www.typography.com/?utm_source=KerningConference"><img src="/img/s-hco.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="Hoefler & Co." alt="Hoefler & Co."></a>
				<!-- img src="/img/pica-plc.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!" -->
			</div>

			<h3 class="bourgeois">Bourgeois</h3>
			<div class="s-block bourgeois">

				<a href="http://www.ideato.it"><img src="/img/s-ideato.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="Ideato - Web ideas for sale." alt="Ideato - Web ideas for sale."></a>
				<a href="http://www.ilpiac.com/"><img src="/img/s-ilpiac.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="il Piac" alt="il Piac"/></a>
				<a href="http://www.productiontype.com/"><img src="/img/s-productiontype.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="productiontype" alt="productiontype"/></a>
				<a href="http://www.magnews.com/"><img src="/img/s-magnews.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="MagNews" alt="MagNews"/></a>
                <a href="http://www.fontfont.com/"><img src="/img/s-fontshop.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="fontfont" alt="FontFont - FontShop"/> </a>
                <a href="http://modo.md/"><img src="/img/s-modo.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="MODO - we code design" alt="MODO - we code design" /> </a>
				<!-- img src="/img/bourgeois-plc.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!" -->
			</div>

			<h3 class="minion">Minion</h3>
			<div class="s-block minion">
				<a href="http://designersbookshop.com"><img src="/img/s-designersboookshop.jpg" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="DesignerBookshop" /></a>
				<a href="http://skillshare.com"><img src="/img/s-skillshare.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="skillshare" /></a>
                <a href="http://typetester.org"><img src="/img/s-typetester.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="TypeTester" /></a>
				<a href="http://www.pentel.it/home/"><img src="/img/s-pentel.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="Pentel"></a>
				<!-- img src="/img/minion-plc.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!" -->

			</div>

			<h3 class="media">Media Partners</h3>
			<div class="s-block media">
				<a href="http://www.frontiersofinteraction.com"><img src="/img/media-foi.png" alt="Frontiers of Interactions"></a>
				<a href="http://fontfeed.com"><img src="/img/media-fontfeed.png" alt="FontFeed"></a>
				<a href="http://www.tiragraffi.it"><img src="/img/media-tiragraffi.png" alt="tiragraffi"></a>
			</div>
			<h3 class="media">Patronage</h3>
			<div class="s-block media">
				<a href="http://www.comune.faenza.ra.it/"><img src="/img/istituzionale1.png" alt="Comune di Faenza"></a>
                <a href="http://www.grusp.it"><img src="/img/media-grusp-2.png" alt="GrUSP"></a>
                <a href="http://typographics.com/register/"><img src="/img/m-typographics.png"></a>
			</div>

			<div class="become-sponsor">
				<span>Interested in sponsoring next Kerning?</span><br>

				<a href="/KESponsorPack2015.pdf">Download our sponsor pack</a>, then <a href="mailto:info@kerning.it?subject=Sponsorship">contact us!</a>
			</div>
		</div>
	</div>
