<div class="section" id="sponsors"><a id="sponsor"></a>
		<div class="wrapper">
			<h2>Sponsors</h2>

			<!--<h3 class="greatprimer">Great Primer</h3>
			<div class="sponsor-block great">
				<img src="/img/great-plc.png" class="sponsor-tooltip" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!">
				
			</div>
			<h3 class="pica">Pica</h3>
			<div class="sponsor-block pica">
			</div>
			<h3 class="bourgeois">Bourgeois</h3>
			<div class="sponsor-block bourgeois">
				
			</div>
			<h3 class="minion">Minion</h3>
			<div class="sponsor-block minion">
			</div>-->
			<h3 class="media">Media Partners</h3>
			<div class="sponsor-block media">
				<a href="http://www.frontiersofinteraction.com"><img src="/img/media-foi.png"></a>
				<a href="http://www.grusp.it"><img src="/img/media-grusp.png"></a>
				<a href="http://fontfeed.com"><img src="/img/media-fontfeed.png"></a>
				<a href="http://www.tiragraffi.it"><img src="/img/media-tiragraffi.png"></a>
				<a href="http://www.talentgarden.it"><img src="/img/media-tag.png"></a>
			</div>

			<div class="become-sponsor">
				<span>Interested in sponsoring Kerning?</span><br>
				
				<a href="/KESponsorPack2014nospeak.pdf">Download our sponsor pack</a>, then <a href="mailto:info@kerning.it?subject=Sponsorship">contact us!</a>
			</div>
		</div>
	</div>
