<div class="section" id="schedule">
		<div class="wrapper">
			<h2>Schedule</h2>
			<h3>June 6, 2014</h3>
			<div id="schedule-abstract">
				<div class="schedule-session">
					<div class="hour">8.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Registration</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session">
					<div class="hour">9.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Welcome / Opening&nbsp;Remarks</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="one">
					<div class="hour">9.40</div>
                    <a href="speakers.html#franchi">
						<div class="image"><img src="/img/francesco.png" alt""></div>
						<div class="topic">
							<div class="title">Writing is no longer enough (Keynote)</div>
							<div class="name">Francesco Franchi</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="two">
					<div class="hour">10.30</div>
                    <a href="speakers.html#lupton">
						<div class="image"><img src="/img/ellen.png"></div>
						<div class="topic">
							<div class="title">Your Grandma Sets Type in Hell: Why Typography Won’t Make You Happy</div>
							<div class="name">Ellen Lupton</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">11.15</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee&nbsp;Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="three">
					<div class="hour">11.35</div>
                    <a href="speakers.html#connare">
						<div class="image"><img src="/img/vincent.png"></div>
						<div class="topic">
							<div class="title">Typography is the Answer to a Question</div>
                        	<div class="name">Vincent Connare</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="four">
					<div class="hour">12.25</div>
                    <a href="speakers.html#middendorp">
						<div class="image"><img src="/img/jan.png"></div>
						<div class="topic">
							<div class="title">Apostrophe Now</div>
							<div class="name">Jan Middendorp</div>
						</div>
					</a>
				</div>
				<div class="schedule-session">
					<div class="hour">13.10</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Lunch</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="five">
					<div class="hour">14.40</div>
                    <a href="speakers.html#hische">
						<div class="image"><img src="/img/jessica.png"></div>
						<div class="topic">
							<div class="title">My Illustrious Ascent Toward “Less Exciting” Work</div>
                        	<div class="name">Jessica Hische</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="six">
					<div class="hour">15.30</div>
                    <a href="speakers.html#vanblokland">
						<div class="image"><img src="/img/erik.png"></div>
						<div class="topic">
							<div class="title">Optics and code</div>
							<div class="name">Erik Van Blokland</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">16.15</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="seven">
					<div class="hour">16.35</div>
                    <a href="speakers.html#stocks">
						<div class="image"><img src="/img/elliot.png"></div>
						<div class="topic">
							<div class="title">Advanced Web Typography</div>
		                    <div class="name">Elliot Jay Stocks</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="eight">
					<div class="hour">17.25</div>
                    <a href="speakers.html#chimero">
						<div class="image"><img src="/img/frank.png"></div>
						<div class="topic">
							<div class="title">The Digital/Analog Flip-Flop (Closing keynote)</div>
                        	<div class="name">Frank Chimero</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">18.10</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Closing Remarks</div>
						<div class="name"></div>
					</div>
				</div>
			</div>
		</div>
	</div>