<div class="section" id="speakers">
		<div class="wrapper">
			<h2>Speakers</h2>

			<ul id="speakers-list">
				<li>
					<a href="speakers.html#connare">
					<img src="/img/vincent.png">
					<span>Vincent<br>Connare</span>
					</a>
				</li>
				<li>
					<a href="speakers.html#hische">
					<img src="/img/jessica.png">
					<span>Jessica<br>Hische<br></span>
					</a>
				</li>
				<li>
					<a href="speakers.html#stocks">
					<img src="/img/elliot.png">
					<span>Elliot Jay<br>Stocks<br></span>
					</a>
				</li>
				<li>
					<a href="speakers.html#franchi">
					<img src="/img/francesco.png">
					<span>Francesco<br>Franchi<br></span>
					</a>
				</li>
				<li>
					<a href="speakers.html#middendorp">
					<img src="/img/jan.png">
					<span>Jan<br>Middendorp<br></span>
					</a>
				</li>
			</ul>

			<div class="more">&hellip;more to be announced soon!</div>
		</div>
	</div>
