<div class="section" id="conference">
		<div class="wrapper">
			<h2>Conference</h2>
			<h3>June 6, 2014</h3>
			<div id="conference-abstract">
                {% include talks/talk-connare.html %}
                {% include talks/talk-hische.html %}
                {% include talks/talk-stocks.html %}
                {% include talks/talk-franchi.html %}
                {% include talks/talk-middendorp.html %}
                {% include talks/talk-lupton.html %}
                {% include talks/talk-vanblokland.html %}
                {% if false %}
                {% include talks/talk-placeholder.html %}
                {% endif %}
                {% include talks/talk-chimero.html %}
                
			</div>
			<!-- <div class="more">&hellip;more to be announced soon!</div> -->
		</div>
	</div>
