<div class="section" id="sp"><a id="sponsor"></a>
		<div class="wrapper">
			<h2>Sponsors</h2>

			<h3 class="greatprimer">Great Primer</h3>
			<div class="s-block great">
				<img src="/img/primer-plc.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!">
               
			</div>

			<h3 class="pica">Pica</h3>
			<div class="s-block pica">
				<img src="/img/pica-plc.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!">
			</div>

			<h3 class="bourgeois">Bourgeois</h3>
			<div class="s-block bourgeois">

				<a href="http://www.ideato.it"><img src="/img/s-ideato.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="Ideato - Web ideas for sale." alt="Ideato - Web ideas for sale."></a>
				<a href="http://www.ilpiac.com/"><img src="/img/s-ilpiac.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="il Piac" alt="il Piac"/></a>

				<img src="/img/bourgeois-plc.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!">
			</div>

			<h3 class="minion">Minion</h3>
			<div class="s-block minion">
				<img src="/img/minion-plc.png" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!">

			</div>

			<h3 class="media">Media Partners</h3>
			<div class="s-block media">
				<a href="http://www.frontiersofinteraction.com"><img src="/img/media-foi.png" alt="Frontiers of Interactions"></a>
				<a href="http://fontfeed.com"><img src="/img/media-fontfeed.png" alt="FontFeed"></a>
				<a href="http://www.tiragraffi.it"><img src="/img/media-tiragraffi.png" alt="tiragraffi"></a>
			</div>
			<h3 class="media">Patronage</h3>
			<div class="s-block media">
				<a href="http://www.comune.faenza.ra.it/"><img src="/img/istituzionale1.png" alt="Comune di Faenza"></a>
                		<a href="http://www.grusp.it"><img src="/img/media-grusp-2.png" alt="GrUSP"></a>
			</div>

			<div class="become-sponsor">
				<span>Interested in sponsoring next Kerning?</span><br>
				<a href="/KESponsorPack2015.pdf">Download our sponsor pack</a>, then <a href="mailto:info@kerning.it?subject=Sponsorship">contact us!</a>
			</div>
		</div>
	</div>
