<div class="session" id="franchi">
	<div class="speaker">
		<div class="image"><img src="img/francesco.png"></div>
		<div class="info">
			<div class="name">Francesco Franchi</div>
			<div class="twitter"><a href="http://www.twitter.com/ffranchi/">@ffranchi</a></div>
			<div class="bio">
				<a href="http://www.francescofranchi.com">Francesco Franchi</a> is art director at <a href="http://www.ilsole24ore.com/cultura/il-magazine.shtml">IL, the monthly magazine of Il Sole 24 ORE</a>. Before that, he worked for five years as a senior designer at <a href="http://www.leftloft.com">Leftloft</a>, a Milan based design studio, dealing with communication design, editorial projects and infographics. Professional journalist since 2010, he's visiting professor at <a href="http://www.domusacademy.com">Domus Academy</a>, <a href="http://www.ied.edu/milan/home">IED Milan</a> and <a href="http://www.polimi.it/en/">Politecnico di Milano</a> and member of The Society of Publication Designer and professional member of <a href="http://www.aiap.it">AIAP</a>, the Italian Council of Communication Design. In 2013 he published <a href="http://amzn.com/389955468X">Designing News, Changing the world of editorial design and information graphics</a>.
			</div>
	        <p>You can see his latest works on <a href="http://www.francescofranchi.com/projects">his website</a> and on <a href="http://www.flickr.com/photos/ffranchi/">flickr</a>, take part to one of his <a href="http://www.francescofranchi.com/workshops">workshops</a> or buy his book on <a href="http://amzn.com/389955468X">amazon</a></p>
		</div>
	</div>
	<div class="topic">
		<div class="title">Writing is no longer enough</div>
	    <div class="abstract">
			
			<iframe src="//player.vimeo.com/video/107876602" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


	    	As designers we are living the most interesting and challenging age of the news industry. The technology used in writing is undergoing a huge transformation, addressing itself to a multitude of languages. The great challenge of our time is to combine different languages, in order to increase knowledge and understanding, to inform and clarify. According to Franchi, reporting is not merely filing a story once, but rather telling a continuous narrative in a way that is most relevant for a broad range of traditional and digital media—from breaking news to analysis, from interviews to commentaries, from photo essays and illustrations to information graphics and interactive visualizations of data. 
	    </div>
	</div>
</div>
