<div class="session" id="chimero">
	<div class="speaker">
		<div class="image"><img src="img/frank.png"></div>
		<div class="info">
			<div class="name">Frank Chimero</div>
			<div class="twitter"><a href="http://www.twitter.com/fchimero/">@fchimero</a></div>
			<div class="bio">
				<a href="http://www.frankchimero.com/">Frank Chimero</a> is a New York-based designer, illustrator, and author of <a href="http://shapeofdesignbook.com/">The Shape of Design</a>. He has worked for clients including Microsoft, Starbucks, Facebook, Newsweek, Bloomberg Businessweek, GOOD Magazine, and more. In 2010, he was chosen as a Young Gun by the Art Directors Club, and was honored as a New Visual Artist by Print Magazine. His work focuses on intermingling text and images across digital and analog spaces.
            </div>
		</div>
	</div>
    <div class="topic">
        <div class="abstract">
            <p>You can see his latest works on <a href="http://dribbble.com/fchimero">dribbble</a>, follow him on <a href="http://www.twitter.com/fchimero/">twitter</a>, read his personal <a href="http://frankchimero.com/blog/">blog</a> and <a href="http://www.buyolympia.com/q/Item=frank-chimero-the-shape-of-design">buy his book</a> (or read it <a href="http://read.shapeofdesignbook.com/">online</a>).</p>
        </div>
    </div>
</div>
