<div class="session" id="middendorp">
	<div class="speaker">
		<div class="image"><img src="img/jan.png"></div>
		<div class="info">
			<div class="name">Jan Middendorp</div>
			<div class="twitter"><a href="http://www.twitter.com/JanMiddendorp/">@JanMiddendorp</a></div>
			<div class="bio">
				<a href="http://www.dorpdal.com">Jan Middendorp</a>, born in the Netherlands, works in Berlin as an independent writer, translator and consultant. He teaches at <a href="http://www.kh-berlin.de">Weißensee Art College</a> in Berlin and the <a href="http://www.plantingenootschap.be">Plantin Institute of Typography</a> in Antwerp. During the past fifteen years Jan has edited, written and co-written a number of well-known <a href="http://www.dorpdal.com/janbooks.html">books on graphic design and typography</a>, including Dutch Type (2004), Shaping Text (2012), Type Navigator (2011, with TwoPoints. Net), Creative Characters (2010) and Made with FontFont (2006, with Erik Spiekermann). He has an ongoing collaboration with the Bibliothèque typographique of Ypsilon éditeur in Paris. He has translated books by Alice Twemlow and Adrian Shaughnessy into Dutch.
			</div>
		</div>
	</div>
    <div class="topic">
        <div class="abstract">
            <p>You can read one of his <a href="http://www.myfonts.com/newsletters/cc/">newsletter</a> on typography, follow his works on <a href="http://www.behance.net/JanMiddendorp">behance</a>, or buy of his books on typography on <a href="http://www.amazon.com/Jan-Middendorp/e/B0034NOYTS/ref=ntt_athr_dp_pel_1">amazon</a></p>
        </div>
    </div>
</div>
