<div class="session" id="lupton">
	<div class="speaker">
		<div class="image"><img src="img/ellen.png"></div>
		<div class="info">
			<div class="name">Ellen Lupton</div>
			<div class="twitter"><a href="http://www.twitter.com/ellenlupton/">@elupton</a></div>
			<div class="bio">
				Ellen Lupton is a writer, curator, and graphic designer. She was awarded with an AIGA gold medal, but probably she is best known for her book "Thinking with type", which it's used worldwide as a reference and text book about typography. She is also director of the Graphic Design MFA program at Maryland Institute College of Art (Baltimore).
			</div>
		</div>
	</div>
    <div class="topic">
        <div class="abstract">
            
        </div>
    </div>
</div>