<div class="session" id="lupton">
	<div class="speaker">
		<div class="image"><img src="img/ellen.png"></div>
		<div class="info">
			<div class="name">Ellen Lupton</div>
			<div class="twitter"><a href="http://www.twitter.com/ellenlupton/">@elupton</a></div>
			<div class="bio">
				Ellen Lupton is a writer, curator, and graphic designer. She was awarded with an <a href="http://www.aiga.org/medalist-ellenlupton/">AIGA gold medal</a>, but probably she is best known for her book "<a href="http://www.thinkingwithtype.com/">Thinking with type</a>", which it's used worldwide as a reference and text book about typography. She is also director of the Graphic Design MFA program at Maryland Institute College of Art (Baltimore).
			</div>
		</div>
	</div>
    <div class="topic">
        <div class="abstract">
            <p>You can see her works on <a href="http://elupton.com/">her blog</a>, follow her on <a href="https://twitter.com/ellenLupton‎">twitter</a> and look at her collection on <a href="http://www.pinterest.com/ellenlupton/">pinterest</a></p>
        </div>
    </div>
</div>