<div class="session" id="middendorp">
	<div class="speaker">
		<div class="image"><img src="img/jan.png"></div>
		<div class="info">
			<div class="name">Jan Middendorp</div>
			<div class="twitter"><a href="http://www.twitter.com/JanMiddendorp/">@JanMiddendorp</a></div>
			<div class="bio">
				<a href="http://www.dorpdal.com">Jan Middendorp</a>, born in the Netherlands, works in Berlin as an independent writer, translator and consultant. He teaches at <a href="http://www.kh-berlin.de">Weißensee Art College</a> in Berlin and the <a href="http://www.plantingenootschap.be">Plantin Institute of Typography</a> in Antwerp. During the past fifteen years Jan has edited, written and co-written a number of well-known <a href="http://www.dorpdal.com/janbooks.html">books on graphic design and typography</a>, including Dutch Type (2004), Shaping Text (2012), Type Navigator (2011, with TwoPoints. Net), Creative Characters (2010) and Made with FontFont (2006, with Erik Spiekermann). He has an ongoing collaboration with the Bibliothèque typographique of Ypsilon éditeur in Paris. He has translated books by Alice Twemlow and Adrian Shaughnessy into Dutch.
			</div>
            <p>You can read one of his <a href="http://www.myfonts.com/newsletters/cc/">newsletter</a> on typography, follow his works on <a href="http://www.behance.net/JanMiddendorp">behance</a>, or buy of his books on typography on <a href="http://www.amazon.com/Jan-Middendorp/e/B0034NOYTS/ref=ntt_athr_dp_pel_1">amazon</a></p>
        </div>
    </div>
    <div class="topic">
        <div class="title">Apostrophe Now</div>
        <div class="abstract">

            <iframe src="//player.vimeo.com/video/107786993" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            There was a time when graphic design was about high ideals: improving people’s lives; providing safety and guidance; defying capitalist greed; saving the world. We could use some of that today. The world has become so complex, and the flow of information so overwhelming, that it would be really helpful if designers used their skills to expose its mechanisms — daring to be funny, incisive and irreverent. But most of us cannot cope with so much content. We lecture each other about kerning, M-dashes, apostrophes and Comic Sans. Students revel in cool Klein blue and hipster irony. Professionals complain about the fonts in iOS 7. We consume as if our lives depend on it. Have we painted ourselves into a corner, or can we still design our way out?
        </div>
    </div>
</div>
