<div class="session" id="vanblokland">
	<div class="speaker">
		<div class="image"><img src="img/erik.png"></div>
		<div class="info">
			<div class="name">Erik Van Blokland</div>
			<div class="twitter"><a href="http://www.twitter.com/letterror/">@letterror</a></div>
			<div class="bio">
				Erik van Blokland is a type designer from The Hague. He's best known for Beowolf, a self-modifying digital typeface, released for the first time in 1990. He worked with Just van Rossum. Together they formed <a href="http://letterror.com/">LettError</a>, a design duo dedicated to type, arts and research, where computer programming is the leading philosophy, and developed the <a href="http://www.robofab.com/">RoboFab</a>, a Python scripting environment for FontLab.
			</div>
            <p>You can read his blog on <a href="http://letterror.com/">his website</a> and follow him on <a href="https://twitter.com/letterror">twitter</a></p>
        </div>
    </div>
    <div class="topic">
        <div class="title">Optics and code</div>
        <div class="abstract">
            Erik will introduce some small research projects. The first: some things to keep in mind about when drawing small details: type for reading sizes is designed to be at the edge of the average eye can see. But what does that mean - and look like? The second: the absolute precision of our digital tools does not mean we all draw the same. The results of a survey. Also a quick introduction to Superpolator3.
        </div>
    </div>
</div>