<div class="session" id="hische">
	<div class="speaker">
		<div class="image"><img src="img/jessica.png"></div>
		<div class="info">
			<div class="name">Jessica Hische</div>
			<div class="twitter"><a href="http://www.twitter.com/jessicahische/">@jessicahische</a></div>
			<div class="bio">
				<a href="http://jessicahische.is/awesome">Jessica Hische</a> is a letterer and illustrator best known for her personal projects <a href="http://www.dailydropcap.com">Daily Drop Cap</a> and the <a href="http://shouldiworkforfree.com">Should I Work for Free?</a> flowchart as well as her work for clients like <a href="http://jessicahische.is/working">Wes Anderson, Penguin Books, and Google</a>. She’s been named one of Print Magazine’s New Visual Artists, an ADC Young Gun, and one of Forbes 30 under 30 in Art and Design two years in a row. She is currently serving on the Type Directors Club board of directors, has traveled the world <a href="http://lanyrd.com/profile/jessicahische/sessions/">speaking about lettering and illustration</a>, and has probably consumed enough coffee to power a small nation.
			</div>
		</div>
	</div>
    <div class="topic">
        <div class="abstract">
            <p>You can read her thoughts on <a href="http://jessicahische.is/thinkingthoughts">her blog</a>, see her works on <a href="http://dribbble.com/jessicahische">dribbble</a>, look at the photo she takes on <a href="http://instagram.com/jessicahische">instagram</a>, or buy “stuff” on her <a href="http://jessicahische.is/sellingyoustuff">online shop</a></p>
        </div>
    </div>
</div>
