<div class="session" id="connare">
	<div class="speaker">
		<div class="image"><img src="img/vincent.png"></div>
		<div class="info">
			<div class="name">Vincent Connare</div>
			<div class="twitter"><a href="http://www.twitter.com/VincentConnare/">@VincentConnare</a></div>
			<div class="bio">
				<a href="http://www.connare.com">Vincent Connare</a> is an American type designer and font engineer who is best known for creating <a href="http://www.connare.com/whycomic.htm">Comic Sans</a>. As a font engineer he has been providing technical font solutions for operating systems on computers, printers, mobile phones, televisions and cars since 1987. As a type designer he has created the web fonts Trebuchet and Webdings for Internet Explorer. He designed the <a href="http://www.connare.com/type.htm">typeface Magpie</a> targeting e-books and designed the lettering in the <a href="http://www.ministryofsound.com">Ministry of Sound</a> logo. Vincent currently works as a font engineer for <a href="http://www.daltonmaag.com">Dalton Maag</a> in London.
			</div>
		</div>
	</div>
    <div class="topic">
        <div class="abstract">
            <p>You can see follow his thoughts about typography on <a href="http://www.connare.com">his website</a> or be tickled by his <a href="http://www.connare.com/Photography/index.html">photographic estrus</a></p>
        </div>
    </div>
</div>
