<div class="session" id="hische">
	<div class="speaker">
		<div class="image"><img src="img/jessica.png"></div>
		<div class="info">
			<div class="name">Jessica Hische</div>
			<div class="twitter"><a href="http://www.twitter.com/jessicahische/">@jessicahische</a></div>
			<div class="bio">
				<a href="http://jessicahische.is/awesome">Jessica Hische</a> is a letterer and illustrator best known for her personal projects <a href="http://www.dailydropcap.com">Daily Drop Cap</a> and the <a href="http://shouldiworkforfree.com">Should I Work for Free?</a> flowchart as well as her work for clients like <a href="http://jessicahische.is/working">Wes Anderson, Penguin Books, and Google</a>. She’s been named one of Print Magazine’s New Visual Artists, an ADC Young Gun, and one of Forbes 30 under 30 in Art and Design two years in a row. She is currently serving on the Type Directors Club board of directors, has traveled the world <a href="http://lanyrd.com/profile/jessicahische/sessions/">speaking about lettering and illustration</a>, and has probably consumed enough coffee to power a small nation.
			</div>
            <p>You can read her thoughts on <a href="http://jessicahische.is/thinkingthoughts">her blog</a>, see her works on <a href="http://dribbble.com/jessicahische">dribbble</a>, look at the photo she takes on <a href="http://instagram.com/jessicahische">instagram</a>, or buy “stuff” on her <a href="http://jessicahische.is/sellingyoustuff">online shop</a></p>
        </div>
    </div>
    <div class="topic">
        <div class="title">My Illustrious Ascent Toward “Less Exciting” Work</div>
        <div class="abstract">
                Designers try desperately to make work that’s impactful—to create work that will leave people breathless and hungry for more. Young designers in particular are endlessly trying to impress, their designs scream “DESIGN!”, their type choices are bold, their color palettes are disruptive. Many designers carry this momentum throughout there careers, but there are a few that begin to see differently. Instead of focusing on the flash, they hone in on the details, noticing things that others can barely perceive. Does this make their work better? Does it make it boring? Jessica will guide you through her own work and show you what happens when the small and imperceptible becomes even more exciting than the big bright and flashy.
        </div>
    </div>
</div>
