<div class="session" id="lupton">
	<div class="speaker">
		<div class="image"><img src="img/ellen.png"></div>
		<div class="info">
			<div class="name">Ellen Lupton</div>
			<div class="twitter"><a href="http://www.twitter.com/ellenlupton/">@ellenlupton</a></div>
			<div class="bio">
				Ellen Lupton is a writer, curator, and graphic designer. She was awarded with an <a href="http://www.aiga.org/medalist-ellenlupton/">AIGA gold medal</a>, but probably she is best known for her book "<a href="http://www.thinkingwithtype.com/">Thinking with type</a>", which it's used worldwide as a reference and text book about typography. She is also director of the Graphic Design MFA program at Maryland Institute College of Art (Baltimore).
			</div>
            <p>You can see her works on <a href="http://elupton.com/">her blog</a>, follow her on <a href="https://twitter.com/ellenLupton‎">twitter</a> and look at her collection on <a href="http://www.pinterest.com/ellenlupton/">pinterest</a></p>
    </div>
    </div>
    <div class="topic">
        <div class="title">This Is Your Brain on Typography</div>
        <div class="abstract">
            From the universal power of story-telling to the mind's ability to find order in the chaos of sense perception, rich cognitive principles drive the design process. Theories of perception and cognition help us understand how people see and react to images and interfaces. Designers can use these theories to create inventive forms and concepts that surprise, delight, and entice the viewer. Principles of the mind—from the laws of Gestalt to theories of narrative, behavior, and how to tell a joke—shed light on how design works and how to make it better.
        </div>
    </div>
    <!--div class="topic">
        <div class="title">Your Grandma Sets Type in Hell: Why Typography Won’t Make You Happy</div>
        <div class="abstract">
            Ellen Lupton tells stories about graphic design. Everywhere she goes, she sees design winning, losing, or just trying to catch your eye. Designers often complain that their own mothers don’t understand what they do. Lupton tries to explain what design is by looking at what it does. Design is a tool for thinking and making, pushing and selling. In this mad medley of anecdotes and observations, Lupton takes a look at brave and foolish acts of typography struggling against a cruel, indifferent world.
        </div>
    </div-->
</div>