<div class="session" id="cristiano">
	<div class="speaker">
		<div class="image"><img src="img/cristiano.png"></div>
		<div class="info">
			<div class="name">Cristiano Rastelli</div>
			<div class="twitter"><a href="http://www.twitter.com/areaweb/">@areaweb</a></div>
			<div class="bio">
                <p>Cristiano is a passionate web designer &amp; developer, with almost 15 years
                of working experience under his belt. </p>
                <p>He's a hybrid professional: with his right-hand he designs the
                user-experience and the visual-layout of websites and
                applications, with the left-one he crafts the code behind the
                pages and the logics between them.</p>
                <p>He likes to attend technical conferences, and quite often also
                speak at them. Sometimes, it happens that he even organize
                them.</p>
            </div>
        </div>
    </div>

    <div class="topic">
        <div class="abstract">
            <p>You can follow him on his <a href="http://www.didoo.net/">personal blog</a> or on <a href="http://it.linkedin.com/in/didoo">linkedin</a></p>
		</div>
	</div>

</div>
